<footer>
		<br/>
		<nav>
			<a href="https://webpages.uncc.edu/mwieser/" target="_blank">Charlotte.edu</a>
			<a href="https://github.com/mryan93" target="_blank">Github</a>
			<a href="https://mryan93.github.io/itis3135/" target="_blank">ITIS 3135</a>
			<a href="https://www.freecodecamp.org/mryan" target="_blank">FreeCodeCamp.org</a>
			<a href="https://www.linkedin.com/in/matthewwieser/" target="_blank">linkedin.com</a>
		</nav>
		<br />
		<p>
			Page built by ManiacRazorbackWombat LLC, 2021
		</p>

	</footer>