<header>
	<h1 style="text-align:center;">ManiacRazorbackWombat LLC </h1>
	<div style="text-align:center;">
		<img src="images/wombat.jpg" alt="A proud wombat" width="250" height="250">
	</div>
			<h2>We're <em>your</em> maniacs</h2>
	<div id="nav-div" style="margin-top: 30px;">
		<a href="index.html">Home</a>
		<strong style="color: darkgoldenrod">
			&#9873;
		</strong>
		<a href="about.html">About Us</a>
		<strong style="color: darkgoldenrod">
			&#9873;
		</strong>
		<a href="contact.html">Contact Us</a>
		<strong style="color: darkgoldenrod">
			&#9873;
		</strong>
	</div>
</header>