/*
 Color palette from Coolors.co: https://coolors.co/a9e5bb-fcf6b1-18206f-f0803c-3c6e71
*/

.celadon {
  color: #a9e5bb;
}

.medium-champagne {
  color: #fcf6b1;
}

.midnight-blue {
  color: #18206f;
}

.mango-tango {
  color: #f0803c;
}

.ming {
  color: #3c6e71;
}
