<header>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
  integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <nav class="banner">
 <div class="dropdown">
  <button class="dropdown-button"><i class="fas fa-bars"></i></button>
  <div class="dropdown-content">
   <a href="index.html">Home</a>
   <a href="about.html">About</a>
   <a href="projects.html">Projects</a>
   <a href="certifications.html">Certifications</a>
   <a href="contact.html">Contact</a>
  </div>
 </div>
 <h2 class="title">Loi A</h2>
</nav>
</header>